# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
.turbo

# Environment
.env
.env.*
!.env.example

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage
*.lcov
.nyc_output

# Caches
.cache
.eslintcache
.parcel-cache
.npm

# Misc
*.tsbuildinfo
