registry=https://registry.npmjs.org/
strict-ssl=false
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-timeout=300000
auto-install-peers=true
strict-peer-dependencies=false
node-linker=hoisted
public-hoist-pattern[]=graceful-fs
public-hoist-pattern[]=jest-util
public-hoist-pattern[]=picocolors
public-hoist-pattern[]=has-flag
public-hoist-pattern[]=postcss
public-hoist-pattern[]=@react-navigation/*
public-hoist-pattern[]=react-native
public-hoist-pattern[]=es-module-lexer