<p>Hello,</p>
<p>Please verify your Ordella Physio account by clicking the link below:</p>
<p><a href="{{verifyUrl}}">Verify your email</a></p>
<p>This link expires in 24 hours. If you did not create an account, you can ignore this email.</p>
