PORT=3059
NODE_ENV=development

DATABASE_URL=postgresql://ordella:ordella@localhost:5441/ordella_reporting?schema=public

NATS_URL=nats://localhost:4222
REDIS_URL=redis://localhost:6379
CACHE_REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=change-me-access-secret-min-32-chars-long

PATIENT_SERVICE_URL=http://localhost:3053
APPOINTMENT_SERVICE_URL=http://localhost:3054
BILLING_SERVICE_URL=http://localhost:3056
STAFF_SERVICE_URL=http://localhost:3069
AUDIT_SERVICE_URL=http://localhost:3070
FILE_STORAGE_SERVICE_URL=http://localhost:3071
